svg.hangman {
  width: 18.75rem;
  height: 18.75rem;
}
svg > * {
  stroke: #6599aa;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: 0.25s;
}

.main-header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangman-draw {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alphabet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-box__letter {
  background-color: orange;
  height: 80px;
  width: 60px;
  margin: 10px;
}
